main {
    width: 50%;
    margin: 50px auto;
    background-color: white;
    border-bottom: 1px solid var(--lightgray);
    margin-bottom: 70px;
  }
  
  article {
    margin-bottom: 30px;
  }

  .prose {
    width: 100%;
    margin: auto;
  }
  
  .prose p {
    line-height: 40px;
    font-size: 16px;
  }
  
  .prose strong {
    font-size: 16px;
    font-weight: 600;
  }
  
  .blogHeader {
    width: 100%;
  margin-bottom: 1em;
  padding: 1em 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--lightgray);
  }
  
  .blogHeader h1 {
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
  }

  .authorAndDate {
    margin: 1rem 0rem 3rem 0rem;
    display: flex;
    justify-content: space-between;
   }

   .authorAndDate span {
       margin: 0;
       font-family: "Poppins", sans-serif;
       letter-spacing: 0.5px;
       font-weight: 400;
       font-size: 18px;
   }

  .description {
    margin-bottom: .5rem;
    font-size: 22px;
  }


  @media (max-width: 855px) {
    main {
        width: 95%;
    }

    .blogHeader h1 {
        font-size: 36px;
        line-height: 44px;
        margin-top: 50px;
    }

    .prose p {
      font-size: 16px;
      line-height: 32px;
    }
  }