* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-weight: 200;
}

.serif {
    font-family: "Source Serif 4";
    font-weight: 400;
}

.serif-light {
    font-family: "Source Serif 4";
    font-weight: 300;
}
