---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Landing from '../components/Home/Landing.astro';
import UseCases from '../components/Home/UseCases.astro';
import HomeTeam from '../components/Home/HomeTeam.astro';
import DemoVideo from '../components/Home/DemoVideo.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reibase</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/usecases.css" />
    <link rel="stylesheet" href="styles/hometeam.css" />
    <link rel="stylesheet" href="styles/demoVideo.css" />
  </head>
  <body>
    <Header/>

    <!-- Content -->
    <Landing />

    <!-- Use Cases / Features -->
    <UseCases />
    
      <!-- Team -->
    <HomeTeam />

      <!-- Demo Video -->
     <DemoVideo />
    <!-- Footer -->
      <Footer />
  </body>
</html>

