---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reibase</title>
    <link rel="stylesheet" href="/styles/team.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
  </script>
  </head>

  <body>
    <Header/>
    <!-- Content -->
    <section class="teamContent">
      <div class="teamWrapper">
        <div class="teamPhoto" style="background-image: url('../sophia.png')" ></div>
        <div class="teamBio">
            <span class="name">Sophia d'Antoine</span>
           
            <span class="bio">
              <p>Leveraging her prowess as a cybertech entrepreneur and security researcher, Sophia develops the business and plots the direction of Reibase. She’s also  focused on how Reibase can shore up critical open-source dependencies (NatSec) using a stakeholder model.</p>
            
           </div>
    </div>

    <div class="teamWrapper">
      <div class="teamPhoto" style="background-image: url('../jeff.png')" ></div>
        <div class="teamBio">
          <span class="name">Jeffrey Wood</span>
          <span class="bio">
            <p>Jeff is a versatile member of our team with a background in both fine art and full stack development. 
              As a designer, he brings a creative eye to our web apps and the front-end. 
             </p>
         </div>
    </div>
  
    </div>
    </section>
      <Footer />
    </footer>
  </body>
</html>
