---
import Accordion from "./Accordion.astro"
import "../../styles/landing.css";
---
    <section class="w-full h-screen flex flex-row gap-2 bg-[#FFFEF3] pt-20 px-10">
    <div class="w-1/2 text-center">
        <span class="text-[26px] bg-[#E7FE72] px-3 underline">
            Frequently Asked Questions:
        </span>
    </div>
<div class="flex flex-col w-full mx-5">
        <Accordion title="Can I customize the amount of credits each contributor receives?" details="Absolutely. Solaris puts the power in the hands of project maintainers, allowing them to tailor the credit allocation to match the contributions and expertise of individual contributors. This means that maintainers can adjust credit amounts dynamically, ensuring that recognition and influence accurately reflect each contributor's impact on the project." />
        <Accordion title="What types of actions can contributors use their credits for?" details="Absolutely. Solaris puts the power in the hands of project maintainers, allowing them to tailor the credit allocation to match the contributions and expertise of individual contributors. This means that maintainers can adjust credit amounts dynamically, ensuring that recognition and influence accurately reflect each contributor's impact on the project." />
        <Accordion title="How does your platform ensure fairness and transparency in decision-making processes?" details="Absolutely. Solaris puts the power in the hands of project maintainers, allowing them to tailor the credit allocation to match the contributions and expertise of individual contributors. This means that maintainers can adjust credit amounts dynamically, ensuring that recognition and influence accurately reflect each contributor's impact on the project." />
        <Accordion title="Can contributors earn additional credits for their contributions over time?" details="Absolutely. Solaris puts the power in the hands of project maintainers, allowing them to tailor the credit allocation to match the contributions and expertise of individual contributors. This means that maintainers can adjust credit amounts dynamically, ensuring that recognition and influence accurately reflect each contributor's impact on the project." />
        <Accordion title="Can I track and analyze the influence and contributions of individual users over time?" details="Absolutely. Solaris puts the power in the hands of project maintainers, allowing them to tailor the credit allocation to match the contributions and expertise of individual contributors. This means that maintainers can adjust credit amounts dynamically, ensuring that recognition and influence accurately reflect each contributor's impact on the project." />
    </div>
    </section>