---
import Accordion from "./Accordion.astro"
import "../../styles/landing.css";
---
    <section class="w-screen min-h-screen px-1 flex flex-col lg:flex-row gap-2 bg-[#FFFEF3] pt-20 lg:px-10">
    <div class="w-full lg:w-1/2 lg:text-center">
        <span class="text-[26px] bg-[#E7FE72] py-2 px-4 underline">
            Frequently Asked Questions:
        </span>
    </div>
<div class="flex flex-col w-full my-5 lg:mx-5 lg:my-0">
        <Accordion title="What is Solaris?" details="Solaris is a platform designed to distribute influence in a code base or project using a quantifiable unit called credits. These credits are assigned based on the quality and quantity of contributions, empowering project maintainers to create a collaborative environment where contributors are recognized and motivated." />
        <Accordion title="How do credits work in Solaris?" details="Credits are allocated to contributors based on their contributions to the project. The quality and quantity of these contributions determine the number of credits earned. Project maintainers use credits to gauge influence and allocate decision-making power strategically within the project." />
        <Accordion title="How do I create credits for a project I maintain?" details="This is as simple as logging in to Solaris and choosing which of your repositories on GitHub or Gitlab you would like to connect. You can configure the credit distribution at anytime and even pause its connection to the repository. There are no additional downloads or installations required." />
        <Accordion title="How are credits assigned in Solaris?" details="Credits are assigned at the discretion of the maintainer. Maintainers may choose to distribute credits based on various metrics such as code contributions, reviews, issue resolutions, and other project-related activities." />
        <Accordion title="Can I customize the amount of credits each contributor receives?" details="Absolutely. Solaris puts the power in the hands of project maintainers, allowing them to tailor the credit allocation to match the contributions and expertise of individual contributors. This means that maintainers can adjust credit amounts dynamically, ensuring that recognition and influence accurately reflect each contributor's impact on the project." />
        <Accordion title="Can contributors see their credit allocation in Solaris?" details="Yes, contributors can view their credit allocation and activity history within the Solaris platform. This transparency encourages contributors to stay engaged and motivated by recognizing their impact on the project." />
        <Accordion title="Can contributors earn additional credits for their contributions over time?" details="Yes, contributors have the opportunity to earn additional credits for their ongoing contributions to the project over time." />
        <Accordion title="How can Solaris benefit project maintainers?" details="Solaris benefits project maintainers by providing a clear and measurable way to distribute influence and decision-making power among contributors. This helps maintainers in fostering collaboration, acknowledging valuable contributions, and ensuring project sustainability." />
        <Accordion title="Can credits be transferred or exchanged in Solaris?" details="Currently, credits in Solaris are non-transferable and are meant to recognize and quantify individual contributions within the project. They cannot be exchanged or transferred between users. Only the project maintainer has the ability to distribute or revoke credits." />
    </div>
    </section>