    <section class="bg-[#092A35] text-[#FFC785] px-8 flex flex-col items-center justify-center min-h-screen">
        <div class="flex justify-around items-center mb-12 w-full">
            <img src="featureimg1.png" class="">
            <img src="featureimg2.png" class="">
            <img src="featureimg3.png" class="">
        </div>

        <div class="flex justify-between gap-10">
            <div class="flex flex-col px-6">
                <div class="text">
                    <h1 class="text-[20px] leading-10 mb-4 underline">Tame PR Chaos, Amplify Project Quality</h1>
                    <p class="serif-light leading-7">Not all pull requests are created equal. Solaris empowers your team to navigate the sea of PRs with finesse, efficiently managing varying degrees of relevance and quality. Say goodbye to PR chaos and hello to elevated project quality with our precision PR management features.</p>
                </div>
            </div>

            <div class="flex flex-col px-6">
                <div class="text">
                    <h1 class="text-[20px] leading-10 mb-4 underline">Secure your open source dependencies</h1>
                    <p class="serif-light leading-7">Solaris provides the tools you need to actively participate in the sustainability and evolution of vital open source initiatives. Enable interested parties to contribute to the long-term sustainability of open source software with our tailored influence management solutions.</p>
                </div>
            </div>

            <div class="flex flex-col px-6">
                <div class="text">
                    <h1 class="text-[20px] leading-10 mb-4 underline">Incentivize valuable contributions</h1>
                    <p class="serif-light leading-7">Influence matters. Whether you're managing a small team or a large community, tailor contributor credits to reflect their level of involvement and expertise. With this granular control, you can ensure that key stakeholders have the influence they need while maintaining balance and fairness across your projects.</p>
                </div>
            </div>
        </div>
    </section>