---
 import "../../styles/hometeam.css";
---
 <div class="homeTeam">
        <div class="homeTeamMember">
          <div class="homeTeamMemberImage">
            <img src="sophia.png" />
          </div>
          <div class="homeTeamText">
          <h3>Sophia d'Antoine</h3>
          <p>Co-founder and CEO</p>
        </div>
        </div>

        <div class="homeTeamMember">
          <div class="homeTeamMemberImage">
            <img src="./david.png" />
          </div>
          <div class="homeTeamText">
          <h3>David Szigeti</h3>
          <p>Co-founder and CTO</p>
        </div>
        </div>

        <div class="homeTeamMember">
          <div class="homeTeamMemberImage">
            <img src="dorian.png" />
          </div>
          <div class="homeTeamText">
          <h3>Dorian Key</h3>
          <p>Co-founder and CFO</p>
        </div>
        </div>

        <div class="homeTeamMember">
          <div class="homeTeamMemberImage">
            <img src="jeff.png" />
          </div>
          <div class="homeTeamText">
          <h3>Jeffrey Wood</h3>
          <p>Co-founder</p>
        </div>
        </div>
        
        <p class="homeTeamAbout">
          Our team here at Reibase is deeply invested in the open source ecosystem. Our diverse backgrounds in cybersecurity, software supply chains, web3, and open source prepared us for this mission; our history successfully starting and exiting companies will prepare us for success. Our expertise has led us all to the same thesis:<span class="homeTeamAboutDark"> Let’s fix open source and make it a welcome place for future contributors and consumers alike.</span>
        </p>
      </div>