    <section class="landing">
      <div class="intro">
        <span class="h1">
          The future of open source infrastructure
        </span>
        <p>
          Reibase provides a way to monetize open source projects, clearly define control of the project, and reward contributors giving back to the community.
        </p>
        <a href="/install/"><button type="button" class="button">Get Started</button></a>
        </div>
    </section>