---
import "../../styles/style.css";
import "../../styles/landing.css";
---
    <div class="landing">
      <div class="intro">
      <h1>Down vote mediocrity.<br /> Up vote quality collaborators making cool stuff.</h1>
      <p>
        Get your backlog of pull requests unstuck, reward your best contributors, and foster community around your project.
      </p>

  <div class="buttons">
  <span>
  <a href="https://solaris.reibase.rs/" target="_blank">
    <span class="tryBtn">
        Try it free
        <span>
        <img src="/tryBtnimg.png" />
        </span>
      </span>
  </a>
  </span>

  <span>
    <a href="#introducing">
      <span class="learnBtn">
        Learn More
      </span>
    </a>
  </span>

  </div>

  
    <span class="techstars">
      <a href="https://www.techstars.com/" target="_blank" class="text-[#FFFBE0] visited:hover:text-[#FFFBE0] hover:text-[#FFFBE0] ">
        Backed by Techstars_
      </a>
    </span>
  

<div class="upArrowsLanding"></div>
<div class="downArrowsLanding"></div>

</div>