---
import "../../styles/style.css";
import "../../styles/landing.css";
---
    <section class="landing">
      <div class="intro">
      <h3>Introducing Reibase</h3>
        <h1>
          The future of <span class="primary">open source</span> infrastructure
        </h1>
        <p>
          Reibase provides a way to monetize open source projects, clearly define control of the project, and reward contributors giving back to the community.
        </p>

        <a href="/install/"><button type="button" class="getStartedButton">Get Started</button></a>
        </div>

  <div class="right">
        <div class="landingVideo mySlides">
        <video>
        <source src="/create.mov" type="video/mp4">
        Your browser does not support the video tag.
        </video>
        </div>

        <div class="landingVideo mySlides">
        <video>
        <source src="/distribute.mov" type="video/mp4">
        Your browser does not support the video tag.
        </video>
        </div>

                <div class="landingVideo mySlides">
        <video>
        <source src="/vote.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
        </div>


        <div class="dotsContainer">
          <span class="dot" onclick="showSlides(1)">Load</span>
          <span class="dot" onclick="showSlides(2)">Distribute</span>
          <span class="dot" onclick="showSlides(3)">Vote</span>
        </div>

        </div>
    </section>


    <script type="text/javascript">
    
let slideIndex = 0;
showSlides();

function showSlides() {
      if(slideIndex > 2) { 
      slideIndex = 0
    }

  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  let videos = document.getElementsByTagName("video");

  let currentSlide = slides[slideIndex]  
  let currentDot = dots[slideIndex];
  let currentVideo = videos[slideIndex]


  currentSlide.style.display = "block";
  currentDot.classList.add("active");
  currentVideo.autoplay = true;
  currentVideo.play()

  currentVideo.onended = function() {
    currentVideo.autoplay = false;
    currentSlide.style.display = "none";
    currentDot.classList.remove("active");
    slideIndex+=1
    showSlides()
  }

}

</script>