---
import "../../styles/style.css";
import "../../styles/style.css";
---
    <section class="landing">
      <div class="intro">
      <h1>Down vote mediocrity.<br /> Up vote quality collaborators making cool stuff.</h1>
      <p>
        Get your backlog of pull requests unstuck, reward your best contributors, and foster community around your project.
      </p>

<div class="buttons">
<span class="tryBtn">
  Try it free
  <span>
    <img src="/tryBtnimg.png" />
  </span>
</span>
<span class="learnBtn">
  Learn More
</span>
</div>
<span class="techstars">Backed by Techstars_</span>
<div class="upArrowsLanding"></div>
<div class="downArrowsLanding"></div>
</section>