---
import "../../styles/rb.css";
---
    <section class="rb z-100">
    <div class="wrapper">
    <div class="perspective">
    <img src="bluerb.png" class="blue" />
    <img src="blackrb.png" class="black" />
    </div>
</div>
</section>