  <div class="useCases">
      <div class="useCaseHeading">
        Make open source your strength
      </div>
      <div class="useCase">
        <div class="useCaseIcon">
          <img src="./lockicon.png" />
        </div>
        <div class="useCaseText">
        <h3>Secure your open source dependencies</h3>
        <p>Invest in the project and have a seat at the table for future development</p>
      </div>
    </div>

    <div class="useCase">
      <div class="useCaseIcon">
        <img src="./contributionicon.png" />
      </div>
      <div class="useCaseText">
      <h3>Incentivize valuable contributions</h3>
      <p>Take an active role in your favorite open source projects</p>
    </div>
  </div>

  <div class="useCase">
    <div class="useCaseIcon">
      <img src="./riskicon.png" />
    </div>
    <div class="useCaseText">
    <h3>Manage potential risk</h3>
    <p>Create transparency around code contributions and their supporters</p>
  </div>
</div>

<div class="useCase">
  <div class="useCaseIcon">
    <img src="./contributorsicon.png" />
  </div>
  <div class="useCaseText">
  <h3>Know your contributors</h3>
  <p>Build a community around open source projects</p>
</div>
</div>

  <div class="useCase">
    <div class="useCaseIcon">
      <img src="./valueicon.png" />
    </div>
    <div class="useCaseText">
    <h3>Value is shared</h3>
    <p>Reward contributors with part of the value they are creating.</p>
  </div>
</div>

<div class="useCase">
  <div class="useCaseIcon">
    <img src="busicon.png" />
  </div>
  <div class="useCaseText">
  <h3>Bus factor is zero</h3>
  <p>Others can now step in to assist and maintain a key open source project</p>
</div>
</div>

</div>