---
const currentYear = new Date().getFullYear();
---

<div class="w-screen min-h-[500px] flex flex-col px-1 py-10 lg:p-12 bg-black text-white">
 <div class="w-full flex flex-col lg:flex-row justify-between">
        <div class="flex flex-col w-full lg:flex-row lg:w-1/3 gap-14">
          <div>
            <a href="/">
              <img src="/logowhite.png" />
            </a>
          </div>

           <div class="flex flex-col gap-2">
            <span class="text-[18px]">
              <a href="https://solaris.reibase.rs" target="_blank" class="text-white hover:underline hover:text-white font-light">Try Solaris</a>
            </span>
          <span class="text-[18px]">
            <a href="https://discord.gg/8w4M3hRtVN" class="text-white hover:underline hover:text-white font-light">Discord</a>
          </span>
        </div>
        </div>
        <div>
       
      </div>
      <div class="w-full mt-10 lg:mt-0 lg:w-1/3">
        <form class="flex flex-col gap-3 items-start" name="demo-form" id="template_v1ulh7q">
          <label for="demo-form" class="text-[24px] underline">Book a demo</label>
        <div>If you are interested in learning more book a demo with one of our team and we will happily introduce you to Solaris.</div>
          <label for="from_name" class="text-white">Your Name</label>
          <input class="w-3/4 p-2 bg-black outline-white border-white border" type="text" name="from_name">
          <label for="reply_to" class="text-white">Your Email</label>
          <input class="w-3/4 p-2 bg-black outline-white border-white border" type="email" name="reply_to" />
          <button type="submit" class="bg-black border border-white my-3 px-6 py-2 text-white">Submit</button>
          <div class="success hidden">Thank you - we will be in touch shortly.</div>
        </form>
      </div>
    </div>
      <div class="w-full flex flex-col gap-2 justify-end h-40">
	  <span class="underline text-[18px] font-light">
      Based in NYC
    </span>
    <span class="text-gray-300 font-light">
      Copyright © {currentYear} Reibase
    </span>
	  </div>
</div>

 <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">
      (function() {
          emailjs.init('user_kDFY4AFTuoji3GQqaGDsn');
      })();
  </script>
  <script type="text/javascript">
      window.onload = function() {
          document.getElementById('template_v1ulh7q').addEventListener('submit', function(event) {
              event.preventDefault();
              emailjs.sendForm('service_axjc80l', 'template_v1ulh7q', this)
                  .then(function() {
                      console.log('SUCCESS!');
                      document.getElementById("template_v1ulh7q").reset();
                      document.querySelector(".success").classList.toggle("hidden");
                      
                      setTimeout(()=>{
                        document.querySelector(".success").classList.toggle("hidden");
                      }, [4000])
                  }, function(error) {
                      console.log('FAILED...', error);
                      document.getElementById("success").style.display = "block";
                      document.getElementById("success").innerText = "There was an error. Please try again.";
                  });
          });
      }
  </script>