---
const currentYear = new Date().getFullYear();
import "../styles/footer.css";
---
<div class="footer">
 <div class="wrapper">
        <div>
          <a href="/"><img src="/logowhite.png" /></a>
        </div>
        <div>
        <ul>
          <li>
            <a href="/install/">Install</a>
            </li>
          <li>
          <a href="/team/">Team</a>
          </li>
        <li><a href="/blog/">Blog</a>
        </li>
        </ul>
      </div>
      <div>
        <form class="emailList" name="demo-form" id="template_v1ulh7q">
          <label for="demo-form">Book a demo</label>
          <input type="text" placeholder="Name" name="from_name">
          <input type="email" placeholder="Email Address" name="reply_to" />
          <button type="submit" class="demoButton">Submit</button>
          <div class="success">Thank you - we will be in touch shortly.</div>
        </form>
      </div>
    </div>
      <span class="copyright">
	  Copyright © {currentYear} Reibase
	  </span>
</div>

 <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">
      (function() {
          emailjs.init('user_kDFY4AFTuoji3GQqaGDsn');
      })();
  </script>
  <script type="text/javascript">
      window.onload = function() {
          document.getElementById('template_v1ulh7q').addEventListener('submit', function(event) {
              event.preventDefault();
              emailjs.sendForm('service_axjc80l', 'template_v1ulh7q', this)
                  .then(function() {
                      console.log('SUCCESS!');
                      document.getElementById("template_v1ulh7q").reset();
                      document.querySelector(".success").style.display = "block";
                  }, function(error) {
                      console.log('FAILED...', error);
                      document.getElementById("success").style.display = "block";
                      document.getElementById("success").innerText = "There was an error. Please try again.";
                  });
          });
      }
  </script>