---
const currentYear = new Date().getFullYear();

---
<div class="footer">
 <div class="wrapper">
        <div>
          <a href="/"><img src="/logowhite.png" /></a>
        </div>
        <div>
        <ul>
          <li>
            <a href="/install/">Install</a>
            </li>
          <li>
          <a href="/team/">Team</a>
          </li>
        <li><a href="/blog/">Blog</a>
        </li>
        </ul>
      </div>
      <div>
        <form class="emailList" name="demo-form" id="template_v1ulh7q">
          <label for="demo-form">Book a demo</label>
          <input type="text" placeholder="Name" name="from_name">
          <input type="email" placeholder="Email Address" name="reply_to" />
          <button type="submit" class="demoButton">Submit</button>
          <div class="success">Thank you - we will be in touch shortly.</div>
        </form>
      </div>
    </div>
      <span class="copyright">
	  Copyright © {currentYear} Reibase
	  </span>
</div>

<style>
	.footer-component {
	font-size: 16px;
    color: #ccc;
    border-top: 1px solid #ccc;
    padding: 2rem;
	background-color: #1A181E;
 }
 .footer-component span{
	font-family: 'Poppins', sans-serif;
	padding:0 0px 0 10px;
 }
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
