---
const currentYear = new Date().getFullYear();

---

<footer class="footer-component">
      <span>Copyright © {currentYear} Reibase</span>
</footer>
<style>
	.footer-component {
	font-size: 14px;
    color: #ccc;
    border-top: 1px solid #ccc;
    padding: 2rem;
	background-color: #1A181E;
 }
 .footer-component span{
	font-family: 'Poppins', sans-serif;
	font-size:12px;
	padding:0 0px 0 10px;
 }
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
