---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---
<nav class="nav">
	<header class="header">
	  <a href="/"><img src="/logo.png" /></a>
	</header>
   </span>

  <!-- Menu -->
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
	<div class='mobileMenu'></div>
  </label>
	<ul class="menu">
	  <li>
		<a href="/install/">Install</a>
	  </li>
	<li>
	  <a href="/team/">Team</a>
	</li>
	<li>
	  <a href="/blog/">Blog</a>
	</li>
	<li>
	  <!-- <img src="./discord.png"/> -->
	</li>
   </ul>
  </nav>

