---
import { SITE_TITLE } from '../consts';
import "../styles/nav.css";
---
<nav class="nav">
	<header class="header">
	  <a href="/"><img src="/rei[base].png" /></a>
	</header>
   </span>

  <!-- Menu -->
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
	<div class='mobileMenu'></div>
  </label>
	<ul class="menu">
	  <li>
		<a href="https://solaris.reibase.rs/">Get Started</a>
	  </li>
	<li>
	  <a href="/blog/">Blog</a>
	</li>
	<li>
	  <!-- <img src="./discord.png"/> -->
	</li>
   </ul>
   <div class="navbg"></div>
  </nav>

